<ion-list>
  <ion-item>
    <ion-label>E-mail</ion-label>
    <ion-input type="email" placeholder="email@domain.com" [(ngModel)]="this.email"></ion-input>
  </ion-item>
  <ion-button class="ion-margin-vertical" color="primary" expand="block"
              (click)="this.validate()">
    <ion-label class="ion-text-center">Send reset mail</ion-label>
    <ion-icon size="medium" name="send-outline" slot="end"></ion-icon>
  </ion-button>
</ion-list>
<ion-text color="danger">{{this.error}}</ion-text>
