<ng-container *ngIf="this.group | async as g">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title>
        {{g.name}}
      </ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="this.showEditGroupModal()" *ngIf="isGroupOwner">
          <ion-icon name="create-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-button (click)="this.showNewEventModal()" expand="block" *ngIf="isGroupOwner">
      New Event
      <ion-icon name="add-outline" slot="end"></ion-icon>
    </ion-button>
    <ion-list lines="full">
      <ion-list-header>
        <ion-label>Info</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label>
          {{g.street}} - {{g.city}}
        </ion-label>
      </ion-item>
    </ion-list>

    <ion-list lines="full">
      <ion-list-header>
        <ion-label>Members</ion-label>
      </ion-list-header>
      <!--    <app-member-item
            *ngFor="let m of this.members" [member]="m" (click)="this.presentEditMemberAlert(m)">
          </app-member-item>-->
    </ion-list>

  </ion-content>

  <ion-footer>
    <ion-item lines="full">
      <ion-label>Invite new members: {{g.code}}</ion-label>
      <ion-button (click)="this.copyGroupCode(g.code)">
        Copy&nbsp;<ion-icon name="copy-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-footer>
</ng-container>
