<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{group.name}}
    </ion-title>
    <ion-buttons slot="end" *ngIf="isGroupOwner">
      <ion-button (click)="this.groupService.presentDeleteGroupActionSheet(group._id, group.name)">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <app-member-item
      *ngFor="let m of this.groupService.getAllGroupMembers(group.members)" [member]="m">
    </app-member-item>
  </ion-list>

</ion-content>

<ion-footer>
  <ion-item lines="full">
    <ion-label>Invite new members:</ion-label>
    <ion-input value="{{group.code}}"></ion-input>
    <ion-button>
      <ion-icon name="copy-outline"></ion-icon>
    </ion-button>
  </ion-item>
</ion-footer>
