<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="this.cancel()">
        Cancel
      </ion-button>
    </ion-buttons>
    <ion-title>New Event</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="this.createEvent()">
        Save
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-item>
    <ion-label>Type</ion-label>
    <ion-select aria-label="events" interface="popover"
                [(ngModel)]="this.selectedEventType" (ionChange)="this.updateEventType()">
      <ion-select-option *ngFor='let e of this.eventTypes' [value]="e">
        {{e}}
      </ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item-divider></ion-item-divider>
  <ion-item>
    <ion-label position="floating">Group name</ion-label>
    <ion-input type="text" [disabled]="true" [(ngModel)]="this.groupName"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Opponent</ion-label>
    <ion-input type="text" [disabled]="this.trainingSession" [(ngModel)]="this.opponent"
               [clearInput]="true"></ion-input>
  </ion-item>
  <ion-item>
    <ion-checkbox slot="start" [disabled]="this.trainingSession" [(ngModel)]="this.atHome"></ion-checkbox>
    <ion-label>At home?</ion-label>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Street - Number - City</ion-label>
    <ion-input type="text" [(ngModel)]="this.address" [clearInput]="true"
               [disabled]="this.atHome || this.trainingSession"></ion-input>
  </ion-item>
  <ion-item-divider></ion-item-divider>
  <ion-item>
    <ion-label position="stacked" class="ion-padding-bottom">Date</ion-label>
    <ion-datetime [firstDayOfWeek]="1"
                  minuteValues="0,5,10,15,20,25,30,35,40,45,50,55"
                  [isDateEnabled]="isDateEnabled"
                  [(ngModel)]="this.date"
                  #datetime>
      <ion-buttons slot="buttons">
        <ion-button color="danger" (click)="datetime.reset()">Reset</ion-button>
        <ion-button color="primary" (click)="datetime.confirm()">Confirm Date</ion-button>
      </ion-buttons>
    </ion-datetime>
  </ion-item>
  <ion-text color="danger">{{this.error}}</ion-text>

</ion-content>
