<ion-card [color]="this.getCardColor()" (click)="this.showChangeAttendanceActionSheet()">
  <ion-card-header>
    <ion-card-subtitle>{{event.type}}</ion-card-subtitle>
    <ion-card-title>{{ this.eventTitle }}</ion-card-title>
    <ion-card-subtitle>{{this.date}} at {{this.time}}</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <ion-icon name="checkmark-circle-outline"></ion-icon>
    {{event.yes?.length}}
    |
    <ion-icon name="help-circle-outline"></ion-icon>
    {{event.maybe.length}}
    |
    <ion-icon name="close-circle-outline"></ion-icon>
    {{event.no?.length}}
  </ion-card-content>
</ion-card>
