<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col sizeXs="12" sizeSm="9" sizeMd="7" size-xl="4">
        <!--        <ion-img src="assets/icon/favicon.png"/>-->
        <div class="ion-text-center">
          <h1>Welcome to Sportify!</h1>
          <p>A new way to organize your events and get a better headcount overview!</p>
          <p>Be aware, you have to be 16 or older!</p>
        </div>
        <ion-list>
          <ion-segment [scrollable]="true" (ionChange)="this.segmentChanged()" [(ngModel)]="this.selectedSegment">
            <ion-segment-button [value]="this.segments[0]">
              {{this.segments[0]}}
            </ion-segment-button>
            <ion-segment-button [value]="this.segments[1]">
              {{this.segments[1]}}
            </ion-segment-button>
          </ion-segment>

          <swiper [config]="this.config" (activeIndexChange)="this.onActiveIndexChange()">
            <ng-template swiperSlide>
              <app-log-in></app-log-in>
            </ng-template>

            <ng-template swiperSlide>
              <app-sign-up></app-sign-up>
            </ng-template>
          </swiper>

        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
