<ion-item-sliding>
  <ion-item-options side='end'>
  <ion-item-option *ngIf="this.isGroupOwner && this.member.id !== ownerId" color='danger'
                   (click)="this.presentDeleteMemberAlert()">
    <ion-icon slot="icon-only" name='trash'></ion-icon>
  </ion-item-option>
  </ion-item-options>
  <ion-item>
    <ion-icon name="{{this.member.id === ownerId ? 'ribbon-outline' : 'person-circle'}}" slot="start"></ion-icon>
    <ion-label>{{this.member.firstname}} {{this.member.lastname}} - {{this.member.dob | date:'dd/MM/yyyy'}}</ion-label>
<!--    <ion-icon name="information-circle-outline" slot="end"></ion-icon>-->
  </ion-item>
</ion-item-sliding>
