<ion-item class="ion-margin-vertical" color="light"
          (click)="this.authService.signInWithEmailAndPassword(email,password)">
  <div slot="start">
    <ion-icon size="large" name="mail-outline"></ion-icon>
  </div>
  <ion-label>With your email</ion-label>
  <ion-icon size="medium" name="send-outline"></ion-icon>
</ion-item>
<ion-item>
  <ion-label>Email</ion-label>
  <ion-input type="email" placeholder="email@domain.com" [(ngModel)]="email"></ion-input>
</ion-item>
<ion-item>
  <ion-label>Password</ion-label>
  <ion-input type="password" [(ngModel)]="password"></ion-input>
</ion-item>
<ion-item>
  <ion-button (click)="this.authService.forgotPassword(email)">Forgot password?</ion-button>
</ion-item>

<ion-content *ngIf="gettingUserInformation" [fullscreen]="true">
  <ion-item class="ion-margin-top">
    <ion-input type="text" [(ngModel)]="displayName" placeholder="Username"></ion-input>
  </ion-item>

  <ion-button [disabled]="displayName === undefined" expand="block" color="light" class="ion-margin-top"
              (click)="setUserName()">
    Set Username
  </ion-button>
</ion-content>
