<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Me
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list *ngIf="this.profile | async as profile">
    <ion-item>
      <ion-label>Firstname</ion-label>
      <ion-input type="text" [disabled]="true" [value]="this.profile.firstname"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Lastname</ion-label>
      <ion-input type="text"[disabled]="true" [value]="this.profile.lastname"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Date of birth</ion-label>
      <ion-input type="date"[disabled]="true" [value]="this.profile.dob"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>E-mail</ion-label>
      <ion-input type="email"[disabled]="true" [value]="this.profile.email"></ion-input>
    </ion-item>
  </ion-list>

  <ion-item>
    <ion-icon name="sunny-outline"></ion-icon>
    <ion-toggle [enableOnOffLabels]="true" (ionChange)="this.toggleTheme()" [checked]="this.darkTheme"></ion-toggle>
    <ion-icon name="moon-outline"></ion-icon>
  </ion-item>

</ion-content>

<ion-footer class="ion-text-center">
  <ion-button (click)="this.signOut()">Sign out</ion-button>
  <ion-button color="danger" (click)="this.presentDeleteAccountAlert()">Delete my account</ion-button>
  <ion-text color="danger">{{this.error}}</ion-text>
</ion-footer>
