<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Me
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list *ngIf="this.profile | async as p">
    <ion-item>
      <ion-label>Firstname</ion-label>
      <ion-input type="text" disabled="true" value="{{this.p.firstname}}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Lastname</ion-label>
      <ion-input type="text" value="{{this.p.lastname}}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Date of birth</ion-label>
      <ion-input type="date" value="{{this.p.dob}}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>E-mail</ion-label>
      <ion-input type="email" value="{{this.p.email}}"></ion-input>
    </ion-item>
  </ion-list>

  <ion-item>
    <ion-icon name="sunny-outline"></ion-icon>
    <ion-toggle [enableOnOffLabels]="true" (ionChange)="this.toggleTheme()" [checked]="this.darkTheme"></ion-toggle>
    <ion-icon name="moon-outline"></ion-icon>
  </ion-item>

</ion-content>

<ion-footer class="ion-text-center">
  <ion-button (click)="this.signOut()">Sign out</ion-button>
  <ion-button color="danger" (click)="this.presentDeleteAccountAlert()">Delete my account</ion-button>
</ion-footer>
