<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Groups
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="this.groupService.presentCreateGroupAlert()">
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <app-group-item
      *ngFor="let g of this.groupService.getMyGroups()" [group]="g">
    </app-group-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-item lines="full">
    <ion-label>Do you have a groupcode?</ion-label>
    <ion-button slot="end" (click)="this.groupService.presentEnterGroupCodeAlert()">
      Enter code
    </ion-button>
  </ion-item>
</ion-footer>
