<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Groups
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="this.showNewGroupModal()" expand="block">
    New Group
    <ion-icon name="add-outline" slot="end"></ion-icon>
  </ion-button>
  <ion-list lines="full">
    <app-group-item
      *ngFor="let g of groups | async" [group]="g">
    </app-group-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-item lines="none">
    <ion-label>Do you have a groupcode?</ion-label>
  </ion-item>
  <ion-button (click)="this.showEnterGroupCodeAlert()" expand="block">
    Enter code
  </ion-button>
</ion-footer>
