<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Sportify
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none" [inset]="true">
    <ion-list-header>
      <ion-label>Events</ion-label>
      <ion-select aria-label="events" interface="popover"
                  [(ngModel)]="this.selectedEventType" class="ion-padding-end"
                  (ionChange)="onEventTypeChange()">
        <ion-select-option *ngFor='let e of this.eventTypes' [value]="e">
          {{e}}
        </ion-select-option>
      </ion-select>
    </ion-list-header>

    <app-event-item
      *ngFor="let e of filteredEvents | async" [event]="e">
    </app-event-item>

    <ion-item *ngIf="(this.filteredEvents | async)?.length === 0">
      <ion-label>No events of type: {{this.selectedEventType}}</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
